

.sign-container {
    max-width: 98rem;
    background-color: blue;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;

    & > * {
        width: 50%;
        height: 60vh;
        text-align: center;
    }
}

.form-input {
    display: block;
    
}