
.nav-container {
  background-color: rgba(0,0,0,.8);
}

.nav-bar {
  display: flex;
  align-items: center;
  max-width: 98rem;
  margin: 0 auto;
  color: rgba(255,255,255, .8);

  .logo {
    font-size: 3.25rem;
    color: rgba(255,255,255, .8);
    text-decoration: none;
  }

  &__links {
    list-style: none;
    margin-left: auto;
    display: flex;
    width: 40rem;
    justify-content: space-around;
    font-size: 2rem;
  }
}